@import "reset";
@import "variables";

@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



.container {
    max-width: 1296px;
    margin: 0 auto;
    text-align: center;
}


// HEADER1
.first-header{
    background-color: var(--turquoise);

    .first-header-content {
        padding: 16px 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: var(--turquoise);

        .logo {
        align-items: center;

        color: var(--white);
        font-family: Cabin;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

            &:before {
                display: inline-block;
                content: "";
                margin-right: 8px;
                width: 22px;
                height: 22px;
                background-image: url(../images/book.svg);
                background-repeat: no-repeat;
            }
        }
    }
    
}

.basket {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    p {
        color: var(--white);
        font-family: Cabin;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    }

    .button-basket {
        border: none;
        background: none;
        width: 40px;
        height: 40px;
        position: relative;

        p {
            position: absolute;
            top: 12px;
            left: 22px;

            color: var(--black);
            font-family: Cabin;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 10px;
        }
    }
}

// HEADER2
.second-header {
    padding: 4px 0px;

    .second-header-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        p {
            color: var(--black);
            font-family: Cabin;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
        }

        .nav-list {
            display: flex;
            flex-direction: row;
            gap: 40px;

            a {
                color: var(--black);
                font-family: Cabin;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
            }
        }
    }
}

// MAIN
.main {
    background-color: var(--light-grey);
    padding-top: 32px;
    padding-bottom: 120px;

    .main-title {
        color: var;
        font-family: Cabin;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 40px;
    }
}

.product-cards-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}


// CARD
.product-card {
    margin-top: 32px;
    width: 242px;
    padding: 32px;
    text-align: left;

    background-color: var(--white);
    border: 1px solid var(--grey);
    

    .card-photo {
        display: block;
        height: 280px;
        width: 178px;
        margin: 0 auto;
        position: relative;
    }
  
    .card-name {
        display: block;
        margin-top: 16px;

        overflow: hidden;
        color: var(--black);
        text-overflow: ellipsis;
        white-space: nowrap;
        font-family: Cabin;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px;

        &::after {
            display: block;
            // top: 20px;
            content: "";
            width: 100%;
            height: 1px;
            background-color: var(--grey);
        }
    }

    .card-author {
        overflow: hidden;
        color: #8E8E8E;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-family: Cabin;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    }

    .card-price {
        display: flex;
        flex-direction: row;
        gap: 24px;

        .price-new {
            color: var(--price);
            font-family: Cabin;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 32px;
        }

        .price-before {
            color: var(--grey);
            font-family: Cabin;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 32px;
            text-decoration-line: strikethrough;
        }
    }

    
}
// CARD PHOTO
#final-offer {
    .card-photo {
        background-image: url("../images/Final Offer.jpg");
    }
}
#first_line_of_the_directory {
    .card-photo {
        background-image: url("../images/It Ends With Us_ The most.jpg");
    }
}
#atomic-habits {
    .card-photo {
        background-image: url("../images/Atomic Habits.jpg");
    }
}
#the-creative-act {
    .card-photo {
        background-image: url("../images/The\ Creative\ Act.jpg");
    }
}
#spare {
    .card-photo {
        background-image: url("../images/Spare.jpg");
    }
}
#digital-minimalism {
    .card-photo {
        background-image: url("../images/Digital\ Minimalism.jpg");
    }
}
#meditations {
    .card-photo {
        background-image: url("../images/Meditations.jpg");
    }
}
#how-to-think {
    .card-photo {
        background-image: url("../images/How to Think Like a Roman Emperor.jpg");
    }
}
#meditations-of-marcus {
    .card-photo {
        background-image: url("../images/The Meditations of Marcus.jpg");
    }
}
#lives-of-the-stoics {
    .card-photo {
        background-image: url("../images/Lives of the Stoics.jpg");
    }
}
#dopamine-nation {
    .card-photo {
        background-image: url("../images/Dopamine\ Nation.jpg");
    }
}
#i-dont-need-therapy {
    .card-photo {
        background-image: url("../images/I Dont Need Therapy.jpg");
    }
}




.card-badge {
    display: flex;
    flex-direction: row;
    gap: 4px;

    position: absolute;
    z-index: 1;

    p {
        width: fit-content;
        padding: 4px 8px;
        border-radius: 4px;

        color: var(--white);
        text-align: center;
        font-family: Cabin;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;

        // background-color: #8E8E8E;

        
    }

    .badge-new {
        background-color: var(--lilac);
    }

    .badge-hit {
        background-color: var(--blue);
    }

    .badge-sale {
        background-color: var(--pink);
    }
}

// BUTTONS
.remove-from-cart {
    padding: 8px 24px;
    margin-top: 16px;
    width: 100%;
    border: none;
    background-color: var(--violet);

    color: var(--white);
    text-align: center;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

    &:hover {
        background-color: var(--light-violet);
    }
}

.add-to-basket {
    padding: 8px 24px;
    margin-top: 16px;
    width: 100%;
    border: none;
    background-color: var(--green);

    color: var(--white);
    text-align: center;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

    &:hover {
        background-color: var(--light-green);
    }
}

// FOOTER
.footer {
    padding: 32px 0px;
    background-color: var(--violet);

    .footer-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        p {
            color: var(--white);
            font-family: Cabin;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;

            
        }
    }
}

// BUTTON TO TOP
.button-to-top {
    padding: 12px;
    background-color: var(--turquoise);
    border-radius: 50px;
    border: none;

    position: fixed;
    bottom: 120px;
    right: 60px;

    &:hover {
        transform: rotate(12deg);
    }
}