
:root {
    // Background color
    --black: #000000;
   --turquoise: #10BBD5;
   --grey: #A8A8A8;
   --light-grey: #EEEEEF;
   --white: #fff;
   --violet: #4C394E;
   --light-violet: #744978;
   --green: #4D762D;
   --light-green: #6DB236;
   --price: #E90000;

    // badge_all
    --blue: #4200FF;
    --lilac: #AF39E7;
    --pink: #EA33C0;

}
